body {
  font-family: helvetica, arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #3a241d;
  text-align: center;
}

#page {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container {
  display: grid;
  grid-template-columns: max-content;
  background-color: #eee;
  padding: 10px;
}

.plant {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: calc(100vh / 7);
}

.jar-walls {
  height: 80%;
  width: 60%;
  background: #d1e1df;
  border-radius: 1rem;
  position: absolute;
  bottom: 0.5%;
  left: 20%;
  opacity: 0.5;
  z-index: 1;
}

.jar-top {
  width: 50%;
  height: 5%;
  background: #d1e1df;
  position: absolute;
  bottom: 80.5%;
  left: 25%;
  opacity: 0.7;
  z-index: 1;
}

.jar-bottom {
  width: 50%;
  height: 1%;
  background: #d1e1df;
  position: absolute;
  bottom: 0%;
  left: 25%;
  opacity: 0.7;
}

.jar-glossy-long {
  width: 3%;
  height: 25%;
  border-radius: 1rem;
  background: rgb(234, 254, 255);
  position: absolute;
  bottom: 15%;
  z-index: 2;
  margin: 3rem;
}

.jar-glossy-short {
  width: 3%;
  height: 5%;
  border-radius: 1rem;
  background: rgb(234, 254, 255);
  position: absolute;
  bottom: 45%;
  z-index: 2;
  margin: 3rem;
}

.dirt {
  width: 60%;
  height: 5%;
  background: #3a241d;
  position: absolute;
  border-radius: 0 0 1rem 1rem;
  bottom: 1%;
  left: 20%;
  opacity: 0.7;
  z-index: -1;
}

@media only screen and (max-width: 600px) {
  #page {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 1fr 15%;
  }

  #terrarium {
    position: relative;
    padding: 10px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #eee;
  }

  .plant {
    max-width: 100%;
    height: auto;
  }
}
